$font-family-base: 'Overpass', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-size-heading: 28px;
$font-size-base: 15px;
$font-size-variant: 16px;
$font-size-button: 14px;
$font-size-heading-mob: 24px;
$font-size-base-mob: 14px;
$font-size-variant-mob: 14px;
$font-size-button-mob: 14px;
