/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

textarea {
  resize: vertical;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background: transparent none;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

body {
  background-color: #131518;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Overpass", sans-serif;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-sheet {
  background: linear-gradient(to top, #181E27, #232A34);
  border-radius: 15px;
  width: 100%;
  max-width: 412px;
}

.state-rate {
  display: block;
  padding: 28px 24px;
}

.state-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 24px;
  gap: 24px;
}
.state-success img {
  max-width: 144px;
  max-height: 96px;
}

.rating-choice {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #FC7614;
  background-color: #262E38;
  border-radius: 22px;
  padding: 6px 12px;
}

.text-success {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text-success h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  color: #FFFFFF;
  text-align: center;
}
.text-success p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #969FAD;
  text-align: center;
}

.rating-sheet__content {
  margin-top: 24px;
}

.rating-sheet__main-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.rating-sheet__main-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #969FAD;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-attribution__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to top, #181E27, #232A34);
  border-radius: 15px 15px 0 0;
  padding: 4px;
  color: #969FAD;
}

legend {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.radio-rate__sub-btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.87px;
  color: #131518;
  background-color: #FC7614;
  letter-spacing: 1.9px;
  width: 100%;
  height: 45px;
  border-radius: 22px;
  transition: 0.3s;
}

.radio-rate__sub-btn:hover {
  background-color: #FFFFFF;
  color: #131518;
}

.rating-sheet__icon {
  background-color: #262E38;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rating-sheet__icon img {
  width: 14px;
  height: 14px;
}

.rating-radio__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-radio__label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #262E38;
  height: 42px;
  width: 42px;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.87px;
  color: #969FAD;
}

input[type=radio]:checked + .rating-radio__label {
  background-color: #FC7614;
  color: #262E38;
}

input[type=radio] {
  position: absolute;
  opacity: 0;
}

.rating-radio__label:hover {
  background-color: #FFFFFF;
  color: #262E38;
}

.is-hidden {
  display: none;
}

@media (min-width: 375px) {
  .content {
    padding: 0 24px;
  }
}
@media (min-width: 400px) {
  .rating-sheet {
    border-radius: 30px;
  }
  .state-success {
    gap: 32px;
    padding: 44px 36px;
  }
  .state-success img {
    max-width: 162px;
    max-height: 108px;
  }
  .rating-choice {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    padding: 6px 19px;
  }
  .text-success {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .text-success h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
  }
  .text-success p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }
}
@media (min-width: 768px) {
  .state-rate {
    padding: 34px 30px;
  }
  .rating-sheet__icon {
    width: 48px;
    height: 48px;
  }
  .rating-sheet__icon img {
    width: 16px;
    height: 16px;
  }
  legend {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0;
  }
  .rating-sheet__main-content p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }
  .rating-radio__label {
    height: 51px;
    width: 51px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
  }
  .radio-rate__sub-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.17px;
  }
}

/*# sourceMappingURL=styles.css.map */
