@import 'normalize', 'colors', 'mixins', 'typography';

body {
  background-color: $gray-950;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-base;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-sheet {
  @include gradient-1($gradient-1-start, $gradient-1-end);
  border-radius: 15px;
  width: 100%;
  max-width: 412px;
}

.state-rate {
  display: block;
  padding: 28px 24px;
}

.rating-sheet__content {
  margin-top: 24px;
}

.rating-sheet__main-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    @include text-preset-5-regular;
    color: $gray-500;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-attribution__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include gradient-1($gradient-1-start, $gradient-1-end);
  border-radius: 15px 15px 0 0;
  padding: 4px;
  color: $gray-500;
}

legend {
  @include text-preset-2-bold;
  color: $white;
}

.radio-rate__sub-btn {
  @include text-preset-5-bold;
  color: $gray-950;
  background-color: $orange-500;
  letter-spacing: 1.9px;
  width: 100%;
  height: 45px;
  border-radius: 22px;
  transition: 0.3s;
}

.radio-rate__sub-btn:hover {
  background-color: $white;
  color: $gray-950;
}

.rating-sheet__icon {
  background-color: $gray-900;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 14px;
    height: 14px;
  }
}

.rating-radio__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rating-radio__label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $gray-900;
  height: 42px;
  width: 42px;
  transition: 0.3s;
  @include text-preset-5-bold;
  color: $gray-500;
}
input[type='radio']:checked + .rating-radio__label {
  background-color: $orange-500;
  color: $gray-900;
}

input[type='radio'] {
  position: absolute;
  opacity: 0;
}

.rating-radio__label:hover {
  background-color: $white;
  color: $gray-900;
}

@media (min-width: 375px) {
  .content {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .state-rate {
    padding: 34px 30px;
  }

  .rating-sheet__icon {
    width: 48px;
    height: 48px;

    img {
      width: 16px;
      height: 16px;
    }
  }

  legend {
    @include text-preset-1-bold;
  }

  .rating-sheet__main-content {
    p {
      @include text-preset-4-regular;
    }
  }

  .rating-radio__label {
    height: 51px;
    width: 51px;
    @include text-preset-3-bold;
  }

  .radio-rate__sub-btn {
    @include text-preset-5-semi-bold;
  }
}
